<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<H1 style="color: lightseagreen;text-align: center;">WELCOME TO OUR CONTENTS WEBSITE</H1>
<br><br>
<img src="{% static "home_screen.jpg"%}" alt ="HomeScreen"/>
<br><br>
<a href="query" >Query Results</a>
<br>
<a href="addactor">Add Actor To Movie</a>
<br>
<a href="feedback">Movie Feedback </a>
</body>
</html>